---
---

@import "syntax-highlighting.css";
@import "colors.scss";
@import "typography.scss";
@import "nav.scss";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  max-width: 700px;

  pre {
    text-align: left;
  }
}
